You must have the latest version of Python installed, or at least have Python v 3.14. 
The IDE used is Intellij IDEA version 2026.1.3. Use any similar IDE's like Anaconda, Netbeans, JupyterNotebook, etc.
